{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Add Route @ Walky</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "jsdev/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "jsdev/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "jsdev/css/add_route.css" %}" rel="stylesheet">
	<link href="{% static "jsdev/css/4sq_item.css" %}" rel="stylesheet">
	<!-- jQuery UI CSS -->
	<link rel="stylesheet" href="{% static "jsdev/css/jquery-ui.min.css" %}">
	<link rel="stylesheet" href="{% static "jsdev/css/jquery-ui.structure.min.css" %}">
	<link rel="stylesheet" href="{% static "jsdev/css/jquery-ui.theme.min.css" %}">
	<link href="{% static "jsdev/css/route_timeline.css" %}" rel="stylesheet">
	<link href="{% static "jsdev/css/walky_icons.css" %}" rel="stylesheet">
	<!-- Lobster font for the logo -->
	<!--link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'-->
	<!--link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen"--> 


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  	<!-- Cities Box -->

  	<div id="popover_content_wrapper" class="hidden" style="">
	    <div class="form-group">
	      	<select class="form-control" id="city_list">
	      		<option selected="selected">Choose city:</option>
				<option value="Nizhny Novgorod" data-lat="56.297884" data-lng="43.932238" >Nizhny Novgorod</option>
				<option value="Moscow" data-lat="55.754344" data-lng="37.621723">Moscow</option>
				<option value="Kazan" data-lat="55.788979" data-lng="49.130891">Kazan</option>
			</select>
		</div>
	
	</div>

  	<!-- End of Cities Box -->

    <div class="container">
		<header>
			<div class="row">
				<div class="col-md-2">
				 	<div class="logo"> Walky </div>
				 </div>
				 <div class="col-md-8">
				 	<div class="route_info text-center">
				 		<div class="info_item clearfix content-heading">
							<!--div id="distance">		</div-->	
							<button type="button" class="btn btn-default btn-circle" disabled="disabled">
								<i class="icon-city"></i>
							</button>			
							<a id="selected_city" class="selected_city button_title" > Choose city <b class="caret"></b> </a>
						</div>
						<div class="info_item clearfix content-heading">
							<!-- Route type select -->
							<button type="button" class="btn btn-default btn-circle route_type_button" disabled="disabled" title="Route Type">
								<i class="icon-user"></i>
							</button>
							<div class="dropdown">
								<a id="selected_route_type" data-type="pedestrian" class="route_type button_title dropdown-toggle" data-toggle="dropdown" > Route type <b class="caret"></b> </a>
								<ul class="dropdown-menu" role="menu">
									<li><a  id="pedestrian_link">Pedestrian</a></li>
								    <li><a  id="bicycle_link">Bicycle</a></li>
								    <li><a  id="car_link">Car</a></li>
								</ul>
							</div>
						</div>
						<!-- Build Route button -->
						<div class="info_item clearfix content-heading build_route_button_container">
							
							<button type="button" class="btn btn-primary btn-circle disabled" id="build_route_button">
								<i class="glyphicon glyphicon-road"></i>
							</button>
							<div id="build_route_title" class="build_route_title button_title" data-toggle="tooltip" data-placement="bottom" title="To build route add at least 2 point on the map">&nbsp Build Route &nbsp</div>
						</div>
						<!-- Save Route button (DEFAULT HIDDEN) -->
						<div class="save_route_button_container info_item clearfix content-heading">
							
							<button type="button" class="btn btn-success btn-circle disabled" id="save_route_button">
								<i class="glyphicon glyphicon-floppy-disk"></i>
							</button>
							<div id="save_route_title" class="save_route_title button_title" data-toggle="tooltip" data-placement="bottom" title="To save route fill all required forms. To build route again edit map">&nbsp Save Route &nbsp</div>
						</div>

					 	<div class="info_item clearfix content-heading">
							<!--div id="distance">		</div-->	
							<button type="button" class="btn btn-default btn-circle" disabled="disabled">
								<i class="icon-distance"></i>
							</button>			
							<div id="distance_value" class="route_distance button_title" data-toggle="tooltip" data-placement="bottom" title="Distance">&nbsp N / A &nbsp</div>
						</div>
						<div class="info_item clearfix content-heading">						
							<!--div id="duration">		</div-->
							<button type="button" class="btn btn-default btn-circle"  disabled="disabled">
								<i class="icon-time"></i>
							</button>
							<div id="duration_value" class="route_duration button_title" data-toggle="tooltip" data-placement="bottom" title="Duration">&nbsp N / A &nbsp</div>
						</div>


						

						<!-- Continue Button -->
						<!--div class="info_item clearfix content-heading">
							
							<a class="btn btn-success center-block" id="continue_button" > 
								Continue <i class="glyphicon glyphicon-chevron-right"> </i> 
							</a>
						</div-->
												
					</div>
				</div>

				<!--div class="col-md-3">
					<div class="route_actions text-center"> 
						<button type="button" class="btn btn-default btn-circle" >
								<i class="icon-favourite"></i>
						</button>	
						<button type="button" class="btn btn-default btn-circle" >
								<i class="icon-share"></i>
						</button>
						<button type="button" class="btn btn-default btn-circle" >
							<i class="icon-download"></i>
						</button>
					</div>
				</div-->
				<div class="col-md-2">
					<div class="auth_user_container text-center"> 
						<div class="info_item clearfix content-heading">
							<!--div id="user">		</div-->
							<button type="button" class="btn btn-default btn-circle" disabled="disabled">
								<i class="icon-user"></i>
							</button>							
							<div class="route_user button_title" data-toggle="tooltip" data-placement="bottom" title="User">{{username}}</div>
						</div>
					</div>
				</div>
			</div>
			
		</header>
		
		<!-- Process Steps Row -->
		<!--div class="row center-block" style="margin-top: 10px;">
			<div class="col-md-12">
				/////////////// Process Steps 
				<div class="process">
					<div class="process-row">
				        <div class="process-step">
				        	<p>Draw on map</p>
				            <button type="button" class="btn btn-success btn-circle" disabled="disabled" id="first_step_indicator"><i class="glyphicon glyphicon-map-marker"></i></button>
				        </div>
				        <div class="process-step">
				        	<p>Name & Make notes</p>
				            <button type="button" class="btn btn-default btn-circle" disabled="disabled" id="second_step_indicator"><i class="glyphicon glyphicon-pencil"></i></button>
				        </div>
				         <div class="process-step">
				         	<p>Add photos & Save</p>
				            <button type="button" class="btn btn-default btn-circle" disabled="disabled" id="third_step_indicator"><i class="glyphicon glyphicon-camera"></i></button>
				        </div> 
				    </div>
				</div>
			</div>
		</div-->

		<!-- Carousel Starts -->
		<div class="row-fluid center-block" id="step_slider_wrapper">
		  	<div id="step-carousel" class="carousel slide" data-ride="carousel">
		  		<div class="carousel-inner">
				    <div class="item active">
				      	<div class="step-item">
				      		<!-- First Step (Map) -->
					      	<!--div class="row"> <div id="first_step" class="col-md-9 col-md-offset-3"-->
					      		<!-- Foursquare Places column -->
								<div class="foursquare_wrapper" >
									<div class="widget_heading">
										<div class="alert alert-info" role="alert">
											<b> Foursquare Widget </b>
											<ul>
												<li> Search venues in chosen city </li>
												<li> Drag and Drop places to map </li>
	 										</ul>
										</div>
										<!-- Search Form -->
										<div class="row"> <div class="col-md-12">
											<div class="input-group custom-search-form">
												<span class="input-group-addon"><i class="icon-foursquare2"></i></span>
												<input type="text" class="form-control" id="search_venue_input">
												<span class="input-group-btn">
													<button class="btn btn-default" type="button" id="search_venues_button">
														<span class="glyphicon glyphicon-search"></span>
													</button>
												</span>
											</div>
										</div> </div>
									</div>
									<!-- Foursquare places -->
									<div id="venues_list_wrapper"><ul id="venues_list">
										<li class="venue hidden draggable">
											<div class="img_wrapper">
												<img src="{% static "jsdev/images/foursquare_photo_icon.png" %}">
											</div>
											<div class="info_wrapper ">
												<span class="bold venue_title">Venue Sample Title</span>
												<br>
												
												<div class="icon_wrapper" >
													<div class="center-block venue_type">
														<img alt="" title="" data-placement="bottom" src="{% static "jsdev/images/venue_type_icon.png" %}">
													</div>
												</div>
												<div class="icon_wrapper" >
													<div class="center-block rating_wrapper" title="Rating" data-placement="bottom">
														<i class="glyphicon glyphicon-stats"> </i><text class="venue_rating"> 8.9</text>
													</div>
												</div>
												<div class="icon_wrapper">
													<div class="center-block">
														<a class="venue_link" title="Show on Foursquare" data-placement="bottom" target="_blank" href="#" class="center-block"><i class="glyphicon glyphicon-share-alt"></i> </a>
													</div>
												</div>
												
											</div>
										</li>
									</ul> </div>

								</div>
					      		<!-- Map as a background -->
  								<div id="route_map">	</div>
								<!-- Main information -->
								<!--div class="row center-block" style="/*width:100%;height:100px;background-color:white;*/"> </div-->
							<!--/div> </div-->
			
						</div>
					</div>
					<!-- Second Item -->
					<div class="item">
						<div class="second_item step-item">

							<div class="row warning">
								<div class="col-md-8 col-md-offset-2">
									<div class="alert alert-danger" role="alert">
										<b> Oops! </b> First you need to build route on map in order to name and describe it. 
									</div>
								</div>
							</div>
							
							<!-- Second Step (Route Timeline) -->
							<div class="hidden" id="second_step"><div class=" row " >
								<div class="col-md-12" >
									<div class="row"> 
										<div class="col-md-6 col-md-offset-3">
											<div class="input-group input-group-lg">
												<input type="text" class="form-control validate-text required" name="validate-text" placeholder="Your Route Name" required id="route_name">
												<span class="input-group-addon danger">
													<span class="glyphicon glyphicon-remove"></span>
												</span>
											</div>
										</div>
									</div>

									<ul class="timeline">
								        <li class="odd_li" id="point_1"> <!-- timeline-inverted -->
								          <div class="timeline-badge"><i class="glyphicon glyphicon-map-marker"></i></div>
								          <div class="timeline-panel">
								            <div class="timeline-heading">
								              <!--h4 class="timeline-title" id="first_point_title">Mussum ipsum cacilds</h4-->
								              	<div class="input-group">
													<input type="text" class="point_title form-control validate-text required" name="validate-text" placeholder="Point Title" required>
													<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
												</div>
								            </div>
								            <div class="timeline-body" >
								              	<div class="input-group" data-validate="length" data-length="6" id="first_point_description">
													<textarea type="text" class="point_description form-control" name="validate-optional" placeholder="Point Description" required></textarea>
													<span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
												</div>
								            </div>
								          </div>
								        </li>

								    </ul>
								</div>
							</div> </div>

							<!-- Save Route button -->
							<!--div class="row">
								<div class="col-md-2 col-md-offset-1">
									<div class="center-block" style="padding-left:10px;">
										<button id="save_route_button" type=submit class="btn btn-success btn-lg center-block disabled"> 
											<i class="glyphicon glyphicon-floppy-disk"> </i>
											Save Route
										</button>
									</div>
								</div>
							</div-->

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Side Next Button -->
		<a id="next_step_button" class="right carousel-control step_button" role="button">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		<!-- Side Previous Button -->
		<a id="prev_step_button" class="left carousel-control step_button" role="button">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		</a>


	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Scroll To Top button -->
	<div class="scroll-to-top"> </div>	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="{% static "jsdev/js/jquery.js" %}"></script>
    
    <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script-->

    <!-- jQuery UI -->
    <script src="{% static "jsdev/js/jquery-ui/drag-n-drop-places.js" %}"></script>
    <script src="{% static "jsdev/js/jquery-ui/jquery.js" %}"></script>
	<script src="{% static "jsdev/js/jquery-ui/jquery-ui.min.js" %}"></script>

	<script src="{% static "jsdev/js/bootstrap.min.js" %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw_KEAGVLG7lDHbZLttt4Ttl93Vamu_l4&sensor=false"></script>
    <script src="{% static "jsdev/js/draw_on_map.js" %}"></script>
    <!--script src="{% static "jsdev/js/scroll-to-top.js" %}"></script-->
    <script src="{% static "jsdev/js/getPlaces4sq.js" %}"> </script>
    <script  type="text/javascript" src="{% static "jsdev/js/save_route.js" %}"> </script>

    <script>
	    //***************
	    // Cities Box 
	    //***************
		$("#selected_city").popover({
		    html: true,
		    trigger: 'click', 
			content: function() {
		          return $('#popover_content_wrapper').html();
		        },
		    placement: 'bottom'
		});

		$(document).on('change','#city_list', function() {
			var $chosen_city = $(this).children('option:selected');

			city_name = $chosen_city.text();
			$('#selected_city').text(city_name);
			city = new google.maps.LatLng($chosen_city.data("lat"), $chosen_city.data("lng"));
			map.setCenter(city);
			$("#selected_city").popover('hide');
			$('#venues_list').find('li:not(.hidden)').remove();
			loadPlacesByCity(city_name, "");
		});

	</script>

	<script>
    	//*******
    	//* Scroll to top script for second step of carousel
    	//*******
    	$(function() {
		    $( ".button_title" ).tooltip();
		    //$('#selected_city').popover();
		    //$('#myModal').modal();
		  });

    	jQuery(document).ready(function() {
			var offset = 200;
			var duration = 500;
			jQuery('.second_item').scroll(function() {
				if (jQuery(this).scrollTop() > offset) {
				jQuery('.scroll-to-top').fadeIn(duration);
				} else {
					jQuery('.scroll-to-top').fadeOut(duration);
				}
			});

			jQuery('.scroll-to-top').click(function(event) {
				event.preventDefault();
				jQuery('.second_item').animate({scrollTop: 0}, duration);
				return false;
			})
		});
    </script>

	<script type="text/javascript">
		//*******
		//* Stops automatic carousel sliding
		//*******
	  	$(document).ready(function() {
		  	
		  	$('#step-carousel').carousel({
			    pause: true,
			    interval: false
			});

		  	$('#prev_step_button').hide();
		  	$('#next_step_button').hide();

		});

	  	//*******
		//* Carousel sliding 
		//*******
	  	jQuery(function($) {
			$('#next_step_button').click(function() {
				$('#step-carousel').carousel('next');
				$('.timeline').show();
				$('#next_step_button').hide();
				$('#prev_step_button').show();
				if (jQuery('.second_item').scrollTop() > 200) {
					jQuery('.scroll-to-top').fadeIn(300);
				}
			});

			$('#prev_step_button').click(function() {
				$('#step-carousel').carousel('prev');
				$('#prev_step_button').hide();
				$('#next_step_button').show();

				jQuery('.scroll-to-top').fadeOut(300);
			});
	    });
	  
	</script>

    <script type="text/javascript">
    	//***************
    	//* Route type select
    	//***************
    	$('#pedestrian_link').click(function(){
		  $('#selected_route_type').text('Pedestrian').append('<b class="caret">').data('type', "pedestrian");
		  $('.route_type_button').find('i').removeClass().addClass('glyphicon glyphicon-hand-right');
		});
		$('#bicycle_link').click(function(){
		  $('#selected_route_type').text('Bicycle').append('<b class="caret">').data('type', "bicycle");
		  $('.route_type_button').find('i').removeClass().addClass('glyphicon glyphicon-hand-down');
		});
    	$('#car_link').click(function(){
		  $('#selected_route_type').text('Car').append('<b class="caret">').data('type', "car");
		  $('.route_type_button').find('i').removeClass().addClass('glyphicon glyphicon-hand-left');
		});

    	//***************
		//* build_route_button handler
		//***************
    	$('#build_route_button').click(function(){
    		//alert($('#selected_route_type').data('type'));
    		showRoute(path.getArray(), $('#selected_route_type').data('type'));

    		$('#build_route_button').addClass('disabled');
    		$('.warning').hide();

    		$('#second_step').removeClass('hidden');
    		create_timeline();
			enable_timeline_validation();
			$('.timeline').show();

			$('#next_step_button').show();
			//show_save_route_button();
    		
    	});


    	//***************
		//* Show Save Route Button above build route button
		//***************
		function show_save_route_button(){
			/*$('.build_route_button_container').animate({  borderSpacing: 90 }, {
			    step: function(now,fx) {
			      $(this).css('-webkit-transform','rotateY('+now+'deg)'); 
			      $(this).css('-moz-transform','rotateY('+now+'deg)');
			      $(this).css('transform','rotateY('+now+'deg)');
			    },
			    duration:'slow'
			},'linear');
			$('.build_route_button_container').animate({'transform':'rotateY(90deg)'}).replaceWith(
				$('.save_route_button_container').css('transform', 'rotateY(-90deg)').toggleClass('hidden').animate({'transform':'rotateY(90deg)'})
			);*/
			$('.build_route_button_container').replaceWith(
				$('.save_route_button_container').toggleClass('hidden')
			);
		}

		function hide_save_route_button(){
			$('.save_route_button_container').toggleClass('hidden').replaceWith(
				$('.build_route_button_container')
			);
		}

    	//***************
		//* Steps animation and Continue button handler (DEPRECATED FUNCTION)
		//***************
		/*jQuery(function($) {

		    $('#continue_button').click(function() {
		    	
				create_timeline();
				enable_timeline_validation();
				$('.timeline').show();

				$('#next_step_button').trigger('click');
				return false;

		    });

		});
		*/

	//***************
	//* Create timeline from pushpins dynamicly 
	//***************
	function create_timeline(){

		$('.timeline li:not(:first)').remove();
		$("#point_1").find('.point_title').val('');
		$("#point_1").find('.point_description').val('');

		$("#point_1").find('.point_title').val("Waypoint 1");
		for (var i = 1; i < markers.length; i++) {
			$new_li = $("#point_1").clone();
			$new_li.attr("id", "point_"+(i+1) );
			$new_li.find('.point_title').val("Waypoint " + (i+1));
			if(Math.abs(i) % 2 == 1){
				$new_li.addClass('timeline-inverted');
			} 
			$('.timeline').append($new_li);
		};
		$('.timeline li:first-child .timeline-badge').find('i').removeClass().addClass("icon-start");
		$('.timeline li:last-child .timeline-badge').find('i').removeClass().addClass("icon-finish");
	}


	//***************
	//* Timeline form validation
	//***************
	//$(document).ready(function() {
	function enable_timeline_validation(){
    	$('.input-group input[required]').on('keyup change', function() {
		var $form = $(this).closest('.timeline'),
            $group = $(this).closest('.input-group'),
			$addon = $group.find('.input-group-addon'),
			$icon = $addon.find('span'),
			state = false;
            
    	if (!$group.data('validate')) {
			state = $(this).val() ? true : false;
		}
		if (state) {
				$addon.removeClass('danger');
				$addon.addClass('success');
				$icon.attr('class', 'glyphicon glyphicon-ok');
		}else{
				$addon.removeClass('success');
				$addon.addClass('danger');
				$icon.attr('class', 'glyphicon glyphicon-remove');
		}
		//alert($form.find('.input-group-addon.danger').length);
        /*if ($form.find('.input-group-addon.danger').length == 0) {
            $form.find('[type="submit"]').prop('disabled', false);
            $('#continue_button').removeClass('disabled');
        }else{
            $form.find('[type="submit"]').prop('disabled', true);
            if($('#second_step').hasClass('on_screen')){
            	$('#continue_button').addClass('disabled');
            }
        }*/
        //$('.required').blur(function() {
		    var empty_flds = 0;
		    $(".required").each(function() {
		        if(!$.trim($(this).val())) {
		            empty_flds++;
		        }    
		    });

		    if (empty_flds) { 
		         $('#save_route_button').addClass('disabled');
		    } else {
		        $('#save_route_button').removeClass('disabled');
		    }
		//});
	
		});
    
    	$('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');
  	};
	//});
    </script>


  </body>
</html>
