{% load staticfiles %}

{%if is_auth %}
	<div class="auth_user_container text-center"> 
		<div class="info_item clearfix content-heading">
			<!--div id="user">		</div-->
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">
				<i class="icon-user"></i>
			</button>							
			<a class="username button_title"> {{username}}</a>
		</div>
	</div>

	<!-- Logout popover -->
  	<div id="popover_content_wrapper" data-trigger="focus" class="hidden" style="">
	    <a class="btn btn-default center-block" href="logout/"> Log out </a>						
	</div>
  	<!-- End of Logout popover -->
{%else%}
	<a class="btn btn-primary" role="button" id="login_button" data-toggle="modal" data-target="#loginModal"> Log In or Sign Up </a>
{%endif%}


				